@media screen and (max-width:980px){
  .center{padding:0 15px;}
}

@media screen and (max-width:780px){
  /* Container Style */
  .container{grid-template-columns: repeat(1, 1fr); grid-template-rows: repeat(9, minmax(100px, auto));}

  .container .item:nth-child(1),
  .container .item:nth-child(2),
  .container .item:nth-child(3),
  .container .item:nth-child(4),
  .container .item:nth-child(5){grid-column-start:1; grid-column-end:3;}

  /* Button Box Style */
  .btns{justify-content: center;}
  .btns button{padding:5px 20px; font-size:12px; }
}

@media screen and (max-width:400px){
  .container{grid-template-rows: repeat(9, minmax(70px, auto)); padding:20px 0 100px;}
  .circle-graph p{font-size:18px; font-weight:400;}

  .subPfBar .pfImg{font-size:20px;}
}