/* Header Style */
header{width:100%; height:auto; background:indigo; color:#fff;}
header .headerWrap{display:flex; align-items:center; justify-content:space-between;}
header .headerWrap .mIcon{width:30px; height:auto;display:flex; flex-wrap:wrap; justify-content: flex-end; cursor:pointer;}
header .headerWrap .mIcon span{width:100%; height:2px; background:#fff; display:block;}
header .headerWrap .mIcon span:nth-child(1){}
header .headerWrap .mIcon span:nth-child(2){margin:5px 0; width:50%;}
header .headerWrap .mIcon span:nth-child(3){width:70%;}
header .headerWrap h1{font-weight:400; font-size:22px; padding:10px 0;}

/* Container Style */
.container{width:100%; height:auto; padding:100px 0; display:grid;grid-template-columns: repeat(2, 1fr); grid-template-rows: repeat(5, minmax(100px, auto)); gap:5px;}
.container .item{background:#fff; border:1px solid #ccc;}
.container .item:nth-child(1){grid-row-start:1; grid-row-end:5; display:flex; align-items:center; justify-content: center; padding:30px 0;}
.container .item:nth-child(6){ grid-column-start: 1; grid-column-end: 3;}

/* Circle Graph Style */
.graph-circle {position: relative;width:100%; height:100%;display:flex;flex-direction: column;}
.circle-graph-container {position: relative; display: flex; width:100%;  height:100%;}
.circle-graph { margin: 0 15px; position: relative; width: 100%; line-height: 1.2 !important; -webkit-transition: all 0.3s ease-in-out; -o-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out; display: flex; flex-direction: column; justify-content: center; align-items: center; font-family: 'Roboto', sans-serif; font-weight: 300;}
canvas {position: absolute;}
.circle-graph p{font-size:26px; font-weight:600; color:indigo;}
.totalTit{width:100%; height:auto; text-align:center; font-size:16px; font-weight:400;}

/* Sub Portfolio Progress Bar Style */
.subPfBar{padding:10px; display:flex; align-items:center;}
.subPfBar .pfImg{width:15%; font-size:28px; display:flex; align-items: center; justify-content: center;}
.subPfBar .pfImg i{color:indigo;}
.subPfBar .pfContents{width:85%;}
.subPfBar .pfContents h3{font-size:14px; font-weight:600;}
.subPfBar .pfContents p{font-size:12px; font-weight:300; margin:2px 0 5px;}
.subPfBar .pfContents .rateNum{font-weight:300; font-size:12px; width:25px; text-align:right; border:0;}
.subPfBar .pfContents .rateNum:focus{border:1px solid indigo;}
.subPfBar .pfBarBox{padding:3px 0; border:1px solid #ccc; border-radius:10px; background:#eee;}
.subPfBar .pfBarBox .pfBar{display:block; width:0; height:15px; background:indigo; border-radius:0 10px 10px 0;}

/* button box style */
.btns{display:flex; align-items: center; justify-content: flex-end; padding:10px;}
.btns button{border:1px solid indigo; background:indigo; color:#fff; font-weight:400; font-family:'Noto Sans KR'; padding:10px 30px;}
.btns button:nth-child(2){margin:0 5px;}